[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "*"
atomicwrites = "*"
attrs = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
freeze = "*"
idna = "*"
more-itertools = "*"
numpy = "*"
pandas = "*"
pluggy = "*"
py = "*"
pytest = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
six = "*"
toml = "*"
urllib3 = "*"

[requires]
python_version = "3.7"
